

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
*{
  font-family: "Lora", serif;
}
body {
  position: relative;
  height: 100%;
}
/* .card-parent{
  width: 100vh;
  height: auto;
} */

.main{
  height: 100vh;
  width: 100vh;

 
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card1{
  height: 300px;
  width: 400px;
  border: 2px solid rgb(11, 205, 49);
}